.profiles-footer {
    background-color: #2C3539;
    color: #ffffff;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "copperplate-gothic-regular";
}